<a href="https://www.kaggle.com/code/yeemeitsang/titanic-sklearn?scriptVersionId=110385086" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

In [1]:
import numpy as np 
import pandas as pd

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/kaggle/input/titaniccsv/titanic.csv
/kaggle/input/titaniccsv/test.csv

In [2]:
import sklearn
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LogisticRegression

In [3]:
df = pd.read_csv('/kaggle/input/titaniccsv/titanic.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
# df.Sex.loc[df.Sex == 'male'] = 1
# df.Sex.loc[df.Sex == 'female'] = 0
# df['Sex'] = df.Sex.astype('float64')
df = df.dropna(subset = ['Sex', 'Age', 'Pclass', 'Fare', 'Parch'])
# df = df.dropna(subset = ['Sex', 'Age', 'Pclass'])
df['Sex'] = df.Sex.replace(['male', 'female'], [0, 1]).astype('float64')
df.shape

(714, 12)

In [5]:
fare = df.Fare.values.reshape(-1, 1)
fare_scaled = MinMaxScaler().fit_transform(fare)
df['Fare'] = pd.DataFrame(fare_scaled)
df.Fare.shape

(714,)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 714 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  714 non-null    int64
 1   Survived     714 non-null    int64
 2   Pclass       714 non-null    int64
 3   Name         714 non-null    object
 4   Sex          714 non-null    float64
 5   Age          714 non-null    float64
 6   SibSp        714 non-null    int64
 7   Parch        714 non-null    int64
 8   Ticket       714 non-null    object
 9   Fare         567 non-null    float64
 10  Cabin        185 non-null    object
 11  Embarked     712 non-null    object
dtypes: float64(3), int64(5), object(4)
memory usage: 72.5+ KB

In [7]:
df['Fare'] = df['Fare'].fillna(value = 0)

In [8]:
X_train = df[['Sex', 'Age', 'Pclass', 'Fare', 'Parch']].astype('float64')
# X_train = df[['Sex', 'Age', 'Pclass']].astype('float64')
X_train.shape

(714, 5)

In [9]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 714 entries, 0 to 890
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Sex     714 non-null    float64
 1   Age     714 non-null    float64
 2   Pclass  714 non-null    float64
 3   Fare    714 non-null    float64
 4   Parch   714 non-null    float64
dtypes: float64(5)
memory usage: 33.5 KB

In [10]:
y_train = df['Survived']
y_train.describe()

count    714.000000
mean       0.406162
std        0.491460
min        0.000000
25%        0.000000
50%        0.000000
75%        1.000000
max        1.000000
Name: Survived, dtype: float64

In [11]:
df_test = pd.read_csv('/kaggle/input/titaniccsv/test.csv')
df_test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [12]:
# df_test.Sex.loc[df_test.Sex == 'male'] = 1
# df_test.Sex.loc[df_test.Sex == 'female'] = 0
# df_test['Sex'] = df_test.Sex.astype('float64')
df_test['Sex'] = df.Sex.replace(['male', 'female'], [0, 1]).astype('float64')
df_test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",0.0,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",1.0,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",1.0,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",1.0,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",0.0,22.0,1,1,3101298,12.2875,NaN,S

In [13]:
fare = df_test.Fare.values.reshape(-1, 1)
fare_scaled = MinMaxScaler().fit_transform(fare)
df_test['Fare'] = pd.DataFrame(fare_scaled)
df_test.Fare.describe()

count    417.000000
mean       0.069540
std        0.109124
min        0.000000
25%        0.015412
50%        0.028213
75%        0.061484
max        1.000000
Name: Fare, dtype: float64

In [14]:
X_test = df_test[['Sex', 'Age', 'Pclass', 'Fare', 'Parch']].astype('float64')
# X_test = df_test[['Sex', 'Age', 'Pclass']].astype('float64')
X_test = X_test.fillna(method = 'pad')
X_test.shape

(418, 5)

In [15]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Sex     418 non-null    float64
 1   Age     418 non-null    float64
 2   Pclass  418 non-null    float64
 3   Fare    418 non-null    float64
 4   Parch   418 non-null    float64
dtypes: float64(5)
memory usage: 16.5 KB

In [16]:
model = LogisticRegression()
model.fit(X_train, y_train)
pred = model.predict(X_test)

In [17]:
pred = pd.DataFrame(pred, columns = ['Survived'])
sub = pd.concat([df_test.PassengerId, pred], axis=1)
sub.to_csv('submission.csv', index=False)